extends ./base
block title
    title 通知 - kyoppie
block header
    style.
        .notification:first-child{
            border-top-left-radius:0.5em;
            border-top-right-radius:0.5em;
        }
        .notification:last-child{
            border-bottom-left-radius:0.5em;
            border-bottom-right-radius:0.5em;
        }
        .notification{
            background:white;
            padding:1em;
            padding-left:3em;
            padding-right:4em;
            position:relative;
            margin-bottom:1px;
            height:auto;
            overflow:hidden;
        }
        .notification > i{
            display:inline-block;
            position:absolute;
            width:2em;
            left:1em;
            top:50%;
            margin-top:-0.5em;
        }
        .readflag{
            position:absolute;
            display:inline-block;
            right:1em;
            top:0.5em;
            bottom:0.5em;
            padding:0.25em;
            width:2em;
        }
        .notification_post{
            position:relative;
            text-decoration:none;
            color:black;
            font-size:0.8em;
            border-radius:0.25em;
            border:solid 1px #888;
            display:block;
            padding:0.5em;
            margin-top:0.5em;
        }
        .notification_post time{
            position:absolute;
            right:0.5em;
        }
    script.
        $(function(){
            $(".readflag").click(function(){
                var $this = $(this)
                var id = $this.data("id")
                $.api.post("notifications/read",{id:id}).then(function(){
                    $this.parents(".notification").animate({
                        height:0,
                        paddingTop:0,
                        paddingBottom:0,
                    },750,"swing",function(){
                        $this.parents(".notification").remove();
                    })
                })
            })
        })
block content
    h1 通知
    .notifications
        for notification in notifications
            .notification
                if notification.type == "follow"
                    i.fa.fa-user-plus
                    a(href="/notifications/"+notification.id+"/user") #{notification.targetUser.name}
                    | さんにフォローされました。
                else
                    if notification.type == "reply"
                        i.fa.fa-reply
                        a(href="/u/"+notification.targetUser.screenName)= notification.targetUser.name
                        | さんからのリプライです:
                        a(href="/notifications/"+notification.id+"/post").notification_post
                            strong= notification.targetUser.name
                            |  @#{notification.targetUser.screenName}
                            time.relative_time(datetime=notification.targetPost.createdAt,title=notification.targetPost.createdAt)= notification.targetPost.createdAt
                            br
                            = notification.targetPost.text
                    else
                        if notification.type == "favorite"
                            i.fa.fa-star
                            a(href="/u/"+notification.targetUser.screenName)= notification.targetUser.name
                            | さんにふぁぼられました:
                            a(href="/notifications/"+notification.id+"/post").notification_post
                                strong= notification.targetUser.name
                                |  @#{notification.targetUser.screenName}
                                time.relative_time(datetime=notification.targetPost.createdAt,title=notification.targetPost.createdAt)= notification.targetPost.createdAt
                                br
                                = notification.targetPost.text
                        else
                            i.fa.fa-question
                            | 不明な通知(type:#{notification.type})
                button.readflag(data-id=notification.id)
                    i.fa.fa-check
