extends ./base
block title
    title #{post.user.name}@#{post.user.screenName}さんの投稿 - “#{post.text}” - kyoppie
    meta(name="description",content='“'+post.text+'”')
block header
    meta(name="twitter:site",content="@kyoppieofficial")
    meta(name="twitter:title",content=post.user.name+"@"+post.user.screenName+"さんの投稿 - kyoppie")
    meta(name="twitter:description",content='“'+post.text+'”')
    if post.files|length != 0
        meta(name="twitter:card",content="summary_large_image")
        meta(name="twitter:image",content=post.files[0].thumbnailUrl)
        link(rel="image_src",href=post.files[0].thumbnailUrl)
    else
        meta(name="twitter:card",content="summary")
        meta(name="twitter:image",content=post.user.avatarThumbnailUrl)
    style.
        .user{
            text-decoration:none;
        }
        .user-name{
            display:block;
            color:black;
        }
        .user-screenName{
            color:#888;
        }
        .panel{
            padding:1vw 2vw;
        }
        .post-text{
            margin:0.5em 0;
            font-size:1.5em;
        }
        .post time{
            position:static;
        }
        .user{
            margin-top:0.5em;
            line-height:1.25em;
            display:block;
        }
        .icon{
            float:left;
            width:2.7em;
            height:2.7em;
            border-radius:0.5em;
            margin-top:-0.2em;
            margin-right:0.5em;
        }
        .post-bottom{
            color:#888;
            margin-left:-0.5em;
        }
        .post-bottom > *{
            margin:0 0.5em;
        }
block content
    .panel.post
        a.user(href="/u/"+post.user.screenName)
            if post.user.avatarThumbnailUrl
                img.icon(src=post.user.avatarThumbnailUrl)
            strong.user-name= post.user.name
            span.user-screenName @#{post.user.screenName}
        div.post-text!= post.html
        div.post-files
            | {% for file in post.files %}
            if file.type == "image"
                a(href="{{file.url}}",target="_blank")
                    img(src="{{file.thumbnailUrl}}",data-original-url="{{file.url}}")
            if file.type == "video"
                video(src="{{file.url}}",controls,preload="metadata",poster="{{file.thumbnailUrl}}")
            - endfor
        .post-bottom
            time= post.createdAt
            span.post-via= "via "+post.app.name
